<div class="card">
  <h5 class="card-header">
    <%= link_to current_user.username, current_user %>
  </h5>
  <div class="card-body">
    <div class="h6 text-muted">Lections</div>
    <div class="h5"><%= current_user.lections.count  %></div>
    <hr>
    <div class="h6 text-muted">Average Rating</div>
    <div class="h5">4.6</div>
    <hr>
    <%= link_to "Share your Lections", new_lection_path, class: "btn btn-outline-info pull-center" %>
  </div>
</div>
